<section class="container">
  <div class="row">
    <div class="col-12">
      <h1>Jungle Jumble</h1>
    </div>
    <div class="col-8">
      <div class="row">
        <div class="col-12">
          <div class="d-flex justify-content-between">
            <h3>Easy Jumble</h3>
            <h3>Fastest Time:</h3>
          </div>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam culpa enim quam et ipsam, quis a natus
            maiores autem? Deleniti explicabo cupiditate maiores provident esse voluptas et repellat corrupti autem.</p>
        </div>
        <div class="col-12">

        </div>
      </div>
    </div>
    <div class="col-4">

    </div>
  </div>

</section>